body {
	background-color: #CBEEF3;
	font-family: 'Noto Serif', serif;
	margin: 0;
}

img {
	text-align: center;
}

h3 {
	font-size: 4em;
}

li {
	list-style: none;
	font-size: 3em;
}

a {
	text-decoration: none;
	color: #676d6f;
}

a:hover {
	color: #848C8E;
}

.home-hero {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.intro {
	width: 100%;
  margin: 0 auto;
  padding: 8% 0;
  text-align: center;
  color: #848C8E;
  height: 100%;
}

.home-hero {
	background-image: url("public/christopher-gower-291246.jpg"); 
}

.intro h1 {
  font-size: 7em;
  text-align: center;
}

.container img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 0 auto;
}

.intro h2 {
	font-size: 4em;
}

h3.coding-lang {
	padding: 1em;
}

.about {
	margin-top: 7em;
	padding: 0 4em;
	text-align: center;
}

.about h3 {
	font-size: 4em;
}

.about p {
	font-size: 3em;
}

.about-content {
	text-align: left;
}

.languages {
	background-color: white;
}

.image-area {
	text-align: center;
}

.languages img {
	text-align: center;
	/*margin: 0em auto;*/
	padding: 5em 5em 0 5em;
	width: 300px;
	height: 300px;
}

.

.languages h3 {
	padding: 1em 0.6em 0 0.6em;
	font-size: 4em;
	text-align: center;
}

.languages p {
	padding: 0 0.6em 1em 0.6em;
	font-size: 3em;
}

.text-box-content h3 {
	padding: 1em 0.6em 0 0.6em;
	margin: 0;
}

.contact-content {
	margin-bottom: 8em;
}
	/*list-style: none;*/

.contact-content a {
	text-decoration: none;
	font-size: 3em;
}

/* Size for tablet devices*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  h3 {
  	font-size: 5em;
  }

  .about p {
  	font-size: 2em;
  }

  .languages p {
  	font-size: 2em;
  }
}

/* Size for Desktop screens */

@media screen and (min-width: 1024px){
  h3 {
  	font-size: 2em;
  }

  h3 .coding-lang {
  	font-size: 2em;
  }

  .container {
  	max-width: 65%;
  	margin: 0 auto;
  	align-items: baseline; 
  }

  .about p {
  	font-size: 1.3em;
  }

  .languages {
  	display: flex;
  	margin: 5em 0;
  }

  .languages p {
  	padding: 0 1em;
  	font-size: 1.3em;
  }

  .languages img {
  	padding: 4em;
  	border-radius: 0;
  }

  .left {
  	flex-direction: row-reverse;
  }

}
