body {
	background-color: #CBEEF3;
	font-family: 'Noto Serif', serif;
	margin: 0;
}

img {
	text-align: center;
}

h3 {
	font-size: 4em;
}

ul {
	display: flex;
}

li {
	list-style: none;
/*	font-size: 3em;*/
}

i {
	text-decoration: none !important;
	color: white;
}


a:hover {
	text-decoration: none !important;
}

.home-img1 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.home-img1 {
	background-image: url("public/christopher-gower-291246.jpg"); 
}


.intro {
	width: 100%;
  margin: 0 auto;
  padding: 8% 0;
  text-align: center;
  color: #848C8E;
  height: 100%;
}


.intro h1 {
  font-size: 7em;
  text-align: center;
}

.container img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 0 auto;
}

.intro h2 {
	font-size: 4em;
}

h3.coding-lang {
	padding: 1em;

}

.about {
	margin-top: 7em;
	/*padding: 0 4em;*/
	text-align: center;
}


.about h3 {
	font-size: 4em;
	color: white;
	padding: 0 1em;
}

.about p {
	font-size: 3em;
	padding: 0 1em;

}

.about-content {
	text-align: left;
}

.languages {
	background-color: white;
}

.image-area {
	text-align: center;
}

.languages img {
	text-align: center;
	/*margin: 0em auto;*/
	padding: 5em 5em 0 5em;
	width: 300px;
	height: 300px;
	border-radius: 0;
}

.languages h3 {
	padding: 1em 0.6em 0 0.6em;
	font-size: 4em;
	text-align: center;
}

.languages p {
	padding: 0 0.6em 1em 0.6em;
	font-size: 3em;
}

.text-box-content h3 {
	padding: 1em 0.6em 0 0.6em;
	margin: 0;
}

.contact-content {
	margin-bottom: 8em;
}
	/*list-style: none;*/

.contact-content a {
	text-decoration: none;
	font-size: 3em;
}

ul li a {
	/*width: 1.4em;*/
	/*height: 4em;*/
	/*background: pink;*/
	color: white;
	text-align: center;
	/*line-height: 4em;*/
	/*display: block;*/
	font-size: 3em;
	margin: 0 3em;
	border-radius: 50%;
}

/* MENU buttons *************************/

#ss_menu {
  bottom: 30px;
  width: 60px;
  height: 60px;
  color: #fff;
  position: fixed;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  right: 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#ss_menu > .menu {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

#ss_menu > .menu .share {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

#ss_menu > .menu .share .circle {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  margin-top: -6px;
  left: 12px;
  opacity: 1;
}

#ss_menu > .menu .share .circle:after, #ss_menu > .menu .share .circle:before {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  content: '';
  opacity: 1;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}

#ss_menu > .menu .share .circle:after {
  left: 20.78461px;
  top: 12.0px;
}

#ss_menu > .menu .share .circle:before {
  left: 20.78461px;
  top: -12.0px;
}

#ss_menu > .menu .share .bar {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  width: 24px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 18px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

#ss_menu > .menu .share .bar:before {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  content: '';
  width: 24px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

#ss_menu > .menu .share.close .circle { opacity: 0; }

#ss_menu > .menu .share.close .bar {
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -12px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
}

#ss_menu > .menu .share.close .bar:before {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-450deg);
  -moz-transform: rotate(-450deg);
  -ms-transform: rotate(-450deg);
  -o-transform: rotate(-450deg);
  transform: rotate(-450deg);
}

#ss_menu > .menu.ss_active {
  background: #3b7982;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

#ss_menu > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-top: 12px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  background: #63c1ce;
  border-radius: 50%;
  display: table;
}

#ss_menu > div i {
  display: table-cell;
  vertical-align: middle;
}

#ss_menu > div:hover {
  background: #53a7b2;
  cursor: pointer;
}

#ss_menu div:nth-child(1) {
  bottom: 90px;
  left: 0px;
}

#ss_menu div:nth-child(2) {
  bottom: 159px;
  left: 0px;
}

#ss_menu div:nth-child(3) {
  bottom: 228px;
  left: 0px;
}

#ss_menu div:nth-child(4) {
  bottom: 299spx;
  left: 0.0px;
}

@-webkit-keyframes 
badbounce {  0%, 100% {
 -webkit-transform: translateY(0px);
}
 10% {
 -webkit-transform: translateY(6px);
}
 30% {
 -webkit-transform: translateY(-4px);
}
 70% {
 -webkit-transform: translateY(3px);
}
 90% {
 -webkit-transform: translateY(-2px);
}
}
@-moz-keyframes 
badbounce {  0%, 100% {
 -moz-transform: translateY(0px);
}
 10% {
 -moz-transform: translateY(6px);
}
 30% {
 -moz-transform: translateY(-4px);
}
 70% {
 -moz-transform: translateY(3px);
}
 90% {
 -moz-transform: translateY(-2px);
}
}
@keyframes 
badbounce {  0%, 100% {
 -webkit-transform: translateY(0px);
 -moz-transform: translateY(0px);
 -ms-transform: translateY(0px);
 -o-transform: translateY(0px);
 transform: translateY(0px);
}
 10% {
 -webkit-transform: translateY(6px);
 -moz-transform: translateY(6px);
 -ms-transform: translateY(6px);
 -o-transform: translateY(6px);
 transform: translateY(6px);
}
 30% {
 -webkit-transform: translateY(-4px);
 -moz-transform: translateY(-4px);
 -ms-transform: translateY(-4px);
 -o-transform: translateY(-4px);
 transform: translateY(-4px);
}
 70% {
 -webkit-transform: translateY(3px);
 -moz-transform: translateY(3px);
 -ms-transform: translateY(3px);
 -o-transform: translateY(3px);
 transform: translateY(3px);
}
 90% {
 -webkit-transform: translateY(-2px);
 -moz-transform: translateY(-2px);
 -ms-transform: translateY(-2px);
 -o-transform: translateY(-2px);
 transform: translateY(-2px);
}
}

.ss_animate {
  -webkit-animation: badbounce 1s linear;
  -moz-animation: badbounce 1s linear;
  animation: badbounce 1s linear;
}

/* MENU button ends ************************/







/*.fa-linkedin {
	padding-top: 5px;
	color: white;
	height: 1.2em;
	width: 1.3em;
	background-color: #285981;
	border-radius: 50%;
}

.fa-linkedin:hover {
	opacity: 0.8;
}

.fa-github {
	color: black;
	height: 1em;
	width: 1em;
	background-color: white;
	border-radius: 50%;
}

.fa-github:hover {
	opacity: 0.7;
}*/

/* Size for tablet devices*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  h3 {
  	font-size: 5em;
  }

  .about p {
  	font-size: 2em;
  }

  .languages p {
  	font-size: 2em;
  }

    .home-img2 {
	background-image: url("public/ilya-pavlov-87438.jpg");
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*margin:1em calc(50% - 50vw);*/
	}
}

/* Size for Desktop screens */

@media screen and (min-width: 1024px){
  h3 {
  	font-size: 2em;
  }

  h3 .coding-lang {
  	font-size: 2em;
  	height: 4em;
  }

  .container {
  	max-width: 65%;
  	margin: 0 auto;
  	align-items: baseline; 
  }

  .about p {
  	font-size: 1.3em;
  }


  .languages {
  	display: flex;
  	margin: 5em 0;
  }

  .languages p {
  	padding: 0 1em;
  	font-size: 1.3em;
  }

  .languages img {
  	padding: 4em;
  }

  .left {
  	flex-direction: row-reverse;
  }

  .home-img2 {
	background-image: url("public/ilya-pavlov-87438.jpg");
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*margin:1em calc(50% - 50vw);*/
	}

  #ss_menu div:nth-child(1) {
  top: 0px;
  left: -160px;
}

#ss_menu div:nth-child(2) {
  top: -80.0px;
  left: -138.56406px;
}

#ss_menu div:nth-child(3) {
  top: -138.56406px;
  left: -80.0px;
}

#ss_menu div:nth-child(4) {
  top: -160px;
  left: 0.0px;
}


}
